@import '_váriaveis';
@import '_mixins';

.footer{
    @include background(dark);
    @include space(padding);
    border-top: 2px solid $borders;

    .light &{
        @include background(light);
        border-top: 2px solid $borders-light;
    }

    h1{
        font: {
            size: 25px;
            weight: 300;
            family: Quiche Display;
        }

        color: $title;
        text-align: center;
        
        .light &{
            color: $title-light;
        }
    }
}