@import '_váriaveis';
@import '_mixins';

.header{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include space(padding);

    @include background(dark);
    border-bottom: 2px solid $borders;

    .light &{
        @include background(light);
        border-bottom: 2px solid $borders-light;
    }

    figure{
        display: flex;
        align-items: center;
        justify-content: center;

        .light & a:nth-of-type(1){
            display: none;
        }

        a:nth-of-type(2){
            display: none;
        }

        .light & a:nth-of-type(2){
            display: block;
        }
    }

    .header__button{
        display: flex;

        #checkbox{
            display: none;
            
            &:checked + label .button__background{
                background-image: url(../Images/Components/Moon.svg);
            }
        }

        label{
            width: 50px;
            height: 50px;

            background-color: $bg-buttons;
            border: 2px solid $borders;
            border-radius: 2px;

            transition: transform 0.2s ease-in-out;

            &:hover{
                border: 2px solid $hover;
            }
            
            .light &{
                border: 2px solid $borders-light;

                &:hover{
                    border: 2px solid $hover-light;
                }
            }

            .button__background{
                background: {
                    image: url(../Images/Components/Sun.svg);
                    size: 30px 30px;
                    repeat: no-repeat;
                    position: center center;
                }

                height: 100%;
            }
        }
    }
}