@import '_váriaveis';
@import '_mixins';

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include space(padding);

    h1{
        @include title(dark);

        font-size: 40px;
        text-align: center;

        .light &{
            @include title(light);
        }
    }

    span{
        @include title(bold-dark);
        font-size: 35px;

        .light &{
            @include title(bold-light);
        }
    }
}

.principal__section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $space 0;

    .swiper{
        width: 600px;
        height: 300px;

        img{
            width: 100%;
        }
    }
}

.principal__title{
    h2{
        @include title(dark);
        font-size: 35px;

        margin: $space 0;

        .light &{
            @include title(light);
        }
    }

    span{
        @include title(dark);
        font-size: 30px;

        .light &{
            @include title(light);
        }
    }

    hr{
        height: 2px;

        background-image: linear-gradient(to right,
            $bg, $borders, $bg);

        .light &{
            background-image: linear-gradient(to right,
            $bg-light, $borders-light, $bg-light);
        }
    }
}

.principal__books{
    width: 80%;
    margin: $space 0;

    div{
    width: 100%;

        h3{
            @include title(dark);
            font-size: 30px;
            
            margin: 0 0 15px 0;

            .light &{
                @include title(light);
            }
        }

        figure{
            display: flex;
            align-items: center;
            overflow-x: auto;

            gap: 50px;
            
            img{
                max-width: 100%;
                max-height: 400px;
                min-width: 180px;
                min-height: 250px;

                border-radius: 15px 0;
                box-shadow: 2px 2px 4px $preto;
            }
        }
    }
}