@import '_váriaveis';

// Mixins

@mixin space($space-items){
    @if $space-items == padding{
        padding: $space;
    } @else if $space-items == margin{
        margin: $space;
    }
}

@mixin background($background){
    @if $background == dark{
        background-color: $bg;
    } @else if $background == light{
        background-color: $bg-light;
    }
}

@mixin title($title-type){
    @if $title-type == dark{
        font: {
            family: Quiche Display;
            weight: 400;
        }
        color: $title;
    } @else if $title-type == light{
        font: {
            family: Quiche Display;
            weight: 400;
        }
        color: $title-light;
    } @else if $title-type == bold-dark{
        font: {
            family: Quiche Display Bold;
            weight: 700;
        }
        color: $title;
    } @else if $title-type == bold-light{
        font: {
            family: Quiche Display Bold;
            weight: 700;
        }
        color: $title-light;
    }
}

@mixin text($text-type){
    @if $text-type == dark{
        font: {
            family: 'Quicksand', sans-serif;
            weight: 400;
        }
        color: $text;
    } @else if $text-type == light{
        font: {
            family: 'Quicksand', sans-serif;
            weight: 400;
        }
        color: $text-light;
    }
}

// mixins responsive (condicionais)

@mixin responsive ($responsive){
    @if $responsive == tablet{
        @media (min-width:750px){
            @content;
        } 
    } @else if $responsive == screen{
        @media (min-width: 1200px){
            @content;
        }
    }
}