// Variáveis

$space: 30px;

$branco: #ffffff;
$preto: #000000;

$bg: #13131F;
$bg-buttons: #212121;


$borders: #8355EF;


$nav: #7F50EA;


$title: #E2DEEC;

$text: #C6C6C6;


$hover: #5005FF;


// Light mode

$bg-light: #F7EAEA;
$bg-buttons-light: #EFA3A3;

$borders-light: #CF1928;

$nav-light: #DA1727;

$title-light: #313131;
$text-light: #6D6767;

$hover-light: #E71526;