.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #13131F;
  border-bottom: 2px solid #8355EF;
}
.light .header {
  background-color: #F7EAEA;
  border-bottom: 2px solid #CF1928;
}
.header figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header figure a:nth-of-type(2) {
  display: none;
}
.light .header figure a:nth-of-type(1) {
  display: none;
}
.light .header figure a:nth-of-type(2) {
  display: block;
}
.header .header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin: 0 40px 0 0;
}
@media (min-width: 750px) {
  .header .header__menu {
    display: none;
  }
}
.header .header__menu div {
  width: 30px;
  height: 2px;
  background-color: #8355EF;
}
.light .header .header__menu div {
  background: #CF1928;
}
.header .header__menu div:nth-of-type(2) {
  width: 40px;
}
.header nav {
  display: none;
}
@media (min-width: 750px) {
  .header nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header nav a {
    font-size: 30px;
    font-weight: 400;
    font-family: Quiche Display;
    text-align: center;
    color: #7F50EA;
  }
  .light .header nav a {
    color: #DA1727;
  }
}
.header .header__button {
  display: flex;
}
.header .header__button #checkbox {
  display: none;
}
.header .header__button #checkbox:checked + label .button__background {
  background-image: url(../Images/Components/Moon.svg);
}
.header .header__button label {
  width: 50px;
  height: 50px;
  background-color: #212121;
  border: 1px solid #8355EF;
  border-radius: 2px;
  transition: transform 0.2s ease-in-out;
}
.light .header .header__button label {
  border: 1px solid #CF1928;
}
.header .header__button label .button__background {
  background-image: url(../Images/Components/Sun.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.mobile__menu {
  display: none;
}
.mobile__menu.view__menu {
  display: block;
}
.mobile__menu ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
  gap: 30px;
  border-bottom: 2px solid #8355EF;
}
.light .mobile__menu ul {
  background-color: #F7EAEA;
  border-bottom: 2px solid #CF1928;
}
@media (min-width: 750px) {
  .mobile__menu {
    display: none;
  }
}
.mobile__menu li {
  font-size: 30px;
  font-weight: 400;
  font-family: Quiche Display;
  text-align: center;
  color: #7F50EA;
}
.light .mobile__menu li {
  color: #DA1727;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.principal h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #E2DEEC;
  font-size: 35px;
  text-align: center;
}
.light .principal h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.principal span {
  font-family: Quiche Display Bold;
  font-weight: 700;
  color: #E2DEEC;
  font-size: 35px;
}
.light .principal span {
  font-family: Quiche Display Bold;
  font-weight: 700;
  color: #313131;
}

.principal__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.principal__section div {
  width: 250px;
  height: 150px;
  box-shadow: 2px 2px 4px #000000;
  overflow: hidden;
}
@media (min-width: 540px) {
  .principal__section div {
    width: 500px;
    height: 300px;
  }
}
.principal__section div figure {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  position: relative;
}
.principal__section div figure img {
  width: 250px;
  height: 150px;
}
@media (min-width: 540px) {
  .principal__section div figure img {
    width: 600px;
    height: 300px;
  }
}

.principal__title h2 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #E2DEEC;
  font-size: 30px;
  margin: 30px 0;
}
.light .principal__title h2 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.principal__title span {
  font-family: Quiche Display;
  font-weight: 400;
  color: #E2DEEC;
  font-size: 30px;
}
.light .principal__title span {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.principal__title hr {
  height: 2px;
  background-image: linear-gradient(to right, #13131F, #8355EF, #13131F);
}
.light .principal__title hr {
  background-image: linear-gradient(to right, #F7EAEA, #CF1928, #F7EAEA);
}

.principal__books {
  width: 80%;
}
.principal__books div {
  width: 100%;
}
.principal__books div h3 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #E2DEEC;
  font-size: 25px;
  margin: 30px 0;
}
.light .principal__books div h3 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.principal__books div figure {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 50px;
}
.principal__books div figure img {
  max-width: 100%;
  max-height: 400px;
  min-width: 140px;
  min-height: 250px;
}

.footer {
  background-color: #13131F;
  padding: 30px;
  border-top: 2px solid #8355EF;
}
.light .footer {
  background-color: #F7EAEA;
  border-top: 2px solid #CF1928;
}
.footer h1 {
  font-size: 25px;
  font-font-weight: 300;
  font-family: Quiche Display;
  color: #E2DEEC;
  text-align: center;
}
.light .footer h1 {
  color: #313131;
}

@font-face {
  font-family: Quiche Display;
  src: url(../Fonts/QuicheDisplay-Regular.ttf) format(truetype);
}
@font-face {
  font-family: Quiche Display Bold;
  src: url(../Fonts/QuicheDisplay-Bold.ttf) format(truetype);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #13131F;
}

body.light {
  background-color: #F7EAEA;
}/*# sourceMappingURL=style.css.map */