.header {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #13131F;
  border-bottom: 2px solid #8355EF;
}
.light .header {
  background-color: #F7EAEA;
  border-bottom: 2px solid #CF1928;
}
.header figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header figure img {
  width: 110px;
  height: 100px;
}
.light .header figure a:nth-of-type(1) {
  display: none;
}
.header figure a:nth-of-type(2) {
  display: none;
}
.light .header figure a:nth-of-type(2) {
  display: block;
}
.header .header__button {
  display: flex;
}
.header .header__button #checkbox {
  display: none;
}
.header .header__button #checkbox:checked + label .button__background {
  background-image: url(../Images/Components/Moon.svg);
}
.header .header__button label {
  width: 50px;
  height: 50px;
  background-color: #212121;
  border: 2px solid #8355EF;
  border-radius: 2px;
  transition: transform 0.2s ease-in-out;
}
.header .header__button label:hover {
  border: 2px solid #5005FF;
}
.light .header .header__button label {
  border: 2px solid #CF1928;
}
.light .header .header__button label:hover {
  border: 2px solid #aa1221;
}
.header .header__button label .button__background {
  background-image: url(../Images/Components/Sun.svg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.principal h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #ded9eb;
  font-size: 40px;
  text-align: center;
}
.light .principal h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.principal span {
  font-family: Quiche Display Bold;
  font-weight: 700;
  color: #ded9eb;
  font-size: 35px;
}
.light .principal span {
  font-family: Quiche Display Bold;
  font-weight: 700;
  color: #313131;
}

.principal__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.principal__section .swiper {
  width: 250px;
  height: 150px;
}
@media (min-width: 540px) {
  .principal__section .swiper {
    width: 450px;
    height: 250px;
  }
}
@media (min-width: 750px) {
  .principal__section .swiper {
    width: 600px;
    height: 300px;
  }
}
.principal__section .swiper img {
  width: 100%;
  height: 100%;
}

.principal__title h2 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #ded9eb;
  font-size: 35px;
  margin: 25px 0 40px 0;
}
.light .principal__title h2 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.principal__title span {
  font-family: Quiche Display;
  font-weight: 400;
  color: #ded9eb;
  font-size: 30px;
}
.light .principal__title span {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.principal__title hr {
  height: 2px;
  background-image: linear-gradient(to right, #13131F, #8355EF, #13131F);
}
.light .principal__title hr {
  background-image: linear-gradient(to right, #F7EAEA, #CF1928, #F7EAEA);
}

.principal__books {
  width: 80%;
  margin: 40px 0;
}
.principal__books div {
  width: 100%;
}
.principal__books div h3 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #ded9eb;
  font-size: 30px;
  margin: 0 0 15px 0;
}
.light .principal__books div h3 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.principal__books div figure {
  display: flex;
  align-items: center;
  overflow-x: auto;
  gap: 50px;
}
.principal__books div figure img {
  max-width: 100%;
  max-height: 400px;
  min-width: 180px;
  min-height: 250px;
  border-radius: 15px 0;
  box-shadow: 2px 2px 4px #000000;
}

.chapter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}
.chapter .chapter__aside {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 540px) {
  .chapter .chapter__aside {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 750px) {
  .chapter .chapter__aside {
    width: 85%;
  }
}
@media (min-width: 1200px) {
  .chapter .chapter__aside {
    width: 60%;
  }
}
.chapter .chapter__aside figure {
  align-self: center;
  justify-self: center;
  margin: 40px 0;
}
.chapter .chapter__aside figure img {
  width: 250px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000000;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.chapter .chapter__aside figure img:hover {
  transform: scale(1.05);
}
@media (min-width: 540px) {
  .chapter .chapter__aside figure img {
    max-width: 100%;
  }
}

.chapter__visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chapter__visit h1 {
  margin: 5px 0;
  font-family: Quiche Display;
  font-weight: 400;
  color: #ded9eb;
  font-size: 35px;
  text-align: center;
}
.light .chapter__visit h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.chapter__visit h2 {
  font-family: Quiche Display Bold;
  font-weight: 700;
  color: #ded9eb;
  font-size: 35px;
  text-align: center;
}
.light .chapter__visit h2 {
  font-family: Quiche Display Bold;
  font-weight: 700;
  color: #313131;
}
.chapter__visit button {
  width: 120px;
  height: 40px;
  margin: 30px 0 0 0;
  border: 2px solid #8355EF;
  border-radius: 5px;
  background-color: #212121;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.chapter__visit button:hover {
  transform: scale(1.1);
}
.light .chapter__visit button {
  border: 2px solid #CF1928;
  background-color: #EFA3A3;
}
.chapter__visit button a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.chapter__visit button a p {
  font-size: 20px;
  font-weight: 500;
  font-family: "Quicksand", sans-serif;
  color: #8355EF;
}
.light .chapter__visit button a p {
  color: #CF1928;
}
.light .chapter__visit button a svg:nth-of-type(1) {
  display: none;
}
.chapter__visit button a svg:nth-of-type(2) {
  display: none;
}
.light .chapter__visit button a svg:nth-of-type(2) {
  display: block;
}

.contact__title {
  margin: 40px 0 15px 0;
  width: 50%;
}
.contact__title h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #ded9eb;
  font-size: 30px;
}
.light .contact__title h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.contact__title hr {
  height: 2px;
  margin: 15px 0;
  background-image: linear-gradient(to right, #13131F, #8355EF, #13131F);
}
.light .contact__title hr {
  background-image: linear-gradient(to right, #F7EAEA, #CF1928, #F7EAEA);
}

.contact__rede-social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  margin: 0 0 40px 0;
}
.contact__rede-social div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  border: 2px solid #8355EF;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.contact__rede-social div:hover {
  transform: scale(1.1);
}
.light .contact__rede-social div {
  background-color: #EFA3A3;
  border: 2px solid #CF1928;
}
.contact__rede-social div img {
  width: 25px;
  height: 25px;
  display: block;
}
.contact__rede-social div img:nth-of-type(2) {
  display: none;
}
.light .contact__rede-social div img:nth-of-type(1) {
  display: none;
}
.light .contact__rede-social div img:nth-of-type(2) {
  display: block;
}

.chapter__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
@media (min-width: 1200px) {
  .chapter__section {
    width: 60%;
  }
}
.chapter__section div {
  width: 100%;
}
@media (min-width: 540px) {
  .chapter__section {
    grid-column: span 2;
  }
}
.chapter__section h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #ded9eb;
  font-size: 40px;
  text-align: center;
}
.light .chapter__section h1 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.chapter__section hr {
  height: 2px;
  margin: 15px 0;
  background-image: linear-gradient(to right, #13131F, #8355EF, #13131F);
}
.light .chapter__section hr {
  background-image: linear-gradient(to right, #F7EAEA, #CF1928, #F7EAEA);
}

.section__content {
  margin: 40px 0;
  border: 2px solid #8355EF;
  border-bottom: none;
  box-shadow: 2px 2px 4px #000000;
}
.light .section__content {
  border: 2px solid #CF1928;
  border-bottom: none;
}
.section__content div {
  padding: 40px;
  border-bottom: 2px solid #8355EF;
  cursor: pointer;
}
.light .section__content div {
  border-bottom: 2px solid #CF1928;
}
.section__content div h2 {
  margin: 10px 0;
  font-size: 30px;
  font-family: Quiche Display;
  font-weight: 400;
  color: #ded9eb;
}
.light .section__content div h2 {
  font-family: Quiche Display;
  font-weight: 400;
  color: #313131;
}
.section__content div h3 {
  margin: 10px 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #8d859c;
  font-size: 18px;
}
.light .section__content div h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #6D6767;
}

.footer {
  background-color: #13131F;
  padding: 40px;
  border-top: 2px solid #8355EF;
}
.light .footer {
  background-color: #F7EAEA;
  border-top: 2px solid #CF1928;
}
.footer h1 {
  font-size: 25px;
  font-weight: 300;
  font-family: Quiche Display;
  color: #ded9eb;
  text-align: center;
}
.light .footer h1 {
  color: #313131;
}

@font-face {
  font-family: Quiche Display;
  src: url(../Fonts/QuicheDisplay-Regular.ttf) format(truetype);
}
@font-face {
  font-family: Quiche Display Bold;
  src: url(../Fonts/QuicheDisplay-Bold.ttf) format(truetype);
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 0.2);
}

.principal__books div figure::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.principal__books div figure::-webkit-scrollbar-track {
  background-color: transparent;
}
.principal__books div figure::-webkit-scrollbar-thumb {
  background-color: rgba(177, 177, 177, 0.2);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #13131F;
}
body.light {
  background-color: #F7EAEA;
}/*# sourceMappingURL=style.css.map */