@import '_header';
@import '_main-capítulos';
@import '_footer';

@import '_mixins';
@import '_váriaveis';

// Fonts

@font-face {
    font-family: Quiche Display;
    src: url(../Fonts/QuicheDisplay-Regular.ttf)
    format(truetype);
}

@font-face {
    font-family: Quiche Display Bold;
    src: url(../Fonts/QuicheDisplay-Bold.ttf)
    format(truetype);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    @include background(dark);
    transition: all 0.3s ease-in-out;
}

body.light{
    @include background(light);
}