@import '_header';
@import '_main';
@import '_footer';

@import '_mixins';
@import '_váriaveis';

// Fonts

@font-face {
    font-family: Quiche Display;
    src: url(../Fonts/QuicheDisplay-Regular.ttf)
    format(truetype);
}

@font-face {
    font-family: Quiche Display Bold;
    src: url(../Fonts/QuicheDisplay-Bold.ttf)
    format(truetype);
}

*::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
::-webkit-scrollbar-track{
    background-color: $bg;
}
  
::-webkit-scrollbar-thumb {
    background-color: $borders;
    border-radius: 15px;
}
    
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    @include background(dark);

    &.light{
        @include background(light);
    }
}