@import '_header';
@import '_main';
@import '_footer';

@import '_mixins';
@import '_váriaveis';

// Fonts

@font-face {
    font-family: Quiche Display;
    src: url(../Fonts/QuicheDisplay-Regular.ttf)
    format(truetype);
}

@font-face {
    font-family: Quiche Display Bold;
    src: url(../Fonts/QuicheDisplay-Bold.ttf)
    format(truetype);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    @include background(dark);
}

body.light{
    @include background(light);
}